<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>聊天界面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0, user-scalable=no">
    <link rel="stylesheet" href="https://hduchat.oss-cn-hangzhou.aliyuncs.com/css/semantic.min.css">
    <link rel="stylesheet" href="https://hduchat.oss-cn-hangzhou.aliyuncs.com/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <meta name="viewport" content="width=1024">
</head>
<body style="overflow: auto">

<div class="main_inner" style="height:800px;margin-top:100px">
    <div class="panel">
        <div class="header">
            <div class="avatar">
                <a href="/public/information.html"><img class="ui img rounded image" src="https://hduchat.oss-cn-hangzhou.aliyuncs.com/images/unsplash.jpg" style="width: 50px; height: 50px"></a>
            </div>
            <div class="info">
                <h3 class="nickname m-nickname-position">
                    <span id="user-name">用户名</span>
                    <a class="option">
                        <i class="bars icon" style="color: white;cursor: pointer" onclick="showGroup()"></i>
                    </a>
                </h3>
                <!--                    <label class="m-text-size" style="position: relative; top: 0;bottom: 0;left: 10px;right: 0">个性签名</label>-->
            </div>
        </div>
        <div class="search_bar">
            <div class="ui icon inverted transparent input">
                <input type="text" placeholder="搜索">
                <i class="search link icon"></i>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="nav_view" style="overflow: auto">
            <!--好友列表-->
            <div class="ui selection list" id="user_list">
            </div>
        </div>
    </div>
    <div class="box">
        <!--聊天框顶部标题-->
        <div class="box_hd">
            <div class="title_wrap">
                <div class="title poi" id="header">
                    <a class="title_name title poi" id="group-name"></a>
                    <i class="web_wechat_down_icon"></i>
                </div>
            </div>
        </div>
        <!--聊天框-->
        <div class="box_bd scroll-wrapper" style="position: absolute">
            <div class="box_bd scroll-content" style="margin-bottom: 0;margin-right: 0;height: 494px;overflow-y: auto !important;" id="msg-content">
            </div>
        </div>
        <!--聊天框底部输入框和发送按钮-->
        <div class="box_ft">
            <div class="toolbar">
                <!--可以作为表情包等用途-->
            </div>
            <div class="content">
                <textarea id="text" name="text" class="flex"></textarea>
                <div class="action">
                    <button id="submit"  class="ui sumbit button btn" onclick="">发送</button>
                </div>
            </div>
        </div>
        <div class="ui card" style="display: none;position: absolute; top: 0;left: 100px">
            <div class="image">
                <img src="https://hduchat.oss-cn-hangzhou.aliyuncs.com/images/unsplash.jpg">
            </div>
            <div class="content">
                <a class="header" id="card-name">Kristy</a>
                <div class="description" id="card-desc">
                    Kristy is an art director living in New York.
                </div>
            </div>
            <div style="float: left">
                <button id="deleteBtn" class="ui button">
                    删除
                </button>
            </div>
            <div style="float: right">
                <button id="closeBtn" class="ui button">
                    关闭
                </button>
            </div>
        </div>
        <div class="ui special modal transition" style="margin-left: 10px;width:500px!important;display: none !important;">
            <div class="header">
                创建群聊
            </div>
            <div class="content" style="height: 100px!important;position: relative">
                <div class="group-avatar">
                    <img id="groupAvatar" class="ui rounded image" src="../static/images/unsplash.jpg" style="width: 50px;height: 50px;cursor: pointer" onclick="$('#file').click()">
                    <input type="file" name="avatar" style="visibility: hidden;" id="file">
                </div>
                <div style="position: absolute;top: 65px; left: 25px;">
                    <label for="file" style="cursor: pointer">群头像</label>
                </div>
                <div class="group-name" style="display: inline-block">
                    <label>群名称：</label>
                    <div class="ui input" >
                        <input id="nickname" type="text" name="nickname">
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            </div>
            <div class="actions">
                <button class="ui button" onclick="cancleGroup()">
                    取消
                </button>
                <div class="ui right button" onclick="createGroup()">
                    创建
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://hduchat.oss-cn-hangzhou.aliyuncs.com/js/semantic.min.js"></script>
<script>
    $("html,body").css("overflow","hidden").css("height","100%");
    document.body.addEventListener('touchmove', self.welcomeShowedListener, false);
    let nowGroup;
    let count = 0;
    let preGroup;
    let websocket;
    const userid = Number.parseInt(localStorage.getItem('userid'));
    let groupAllInfo = {};
    let user_info;
    const saved_group = JSON.parse(localStorage.getItem('groups_info'));
    const messageList = document.getElementById('msg-content');
    const groupName = document.getElementById('group-name');
    const connectError = '<h4 id="socketReconnect">服务器连接丢失<a onclick="configSocket()">&nbsp重新连接</a></h4>\n';
    const ticket = window.location.href.split('ticket=')[1] || localStorage.getItem('ticket');
    if (ticket) localStorage.setItem('ticket', ticket);
    (async function(){user_info = await getUser(userid);document.getElementById('user-name').innerText = typeof user_info === 'string' ? JSON.parse(user_info).name : user_info.name;})();
    const def_your_message = '<div class="box_bd scroll-content" >\n' +
        '                        <div class="message-you you">\n' +
        '                            <img onclick="show(UID)" class="avatar-chat-you" src="https://hduchat.oss-cn-hangzhou.aliyuncs.com/images/unsplash.jpg">\n' +
        '                            <div class="content">\n' +
        '                                <div class="bubble bubble_default right">\n' +
        '                                    <div class="bubble_cont">\n' +
        '                                        <div class="plain">\n' +
        '                                            <pre>CONTENT</pre>\n' +
        '                                        </div>\n' +
        '                                    </div>\n' +
        '                                </div>\n' +
        '                            </div>\n' +
        '                        </div>\n' +
        '                    </div>';
    const def_my_message = '<div class="box_bd scroll-content">\n' +
        '                        <div class="messages-me me">\n' +
        '                            <img class="avatar-chat-me" src="https://hduchat.oss-cn-hangzhou.aliyuncs.com/images/unsplash.jpg">\n' +
        '                            <div class="content">\n' +
        '                                <div class="bubble bubble_primary right">\n' +
        '                                    <div class="bubble_cont">\n' +
        '                                        <div class="plain">\n' +
        '                                            <pre>CONTENT</pre>\n' +
        '                                        </div>\n' +
        '                                    </div>\n' +
        '                                </div>\n' +
        '                            </div>\n' +
        '                        </div>\n' +
        '                    </div>' ;
    const def_group_tab = '\n' +
        '                    <div class="item" style="background: #2e3238;margin-bottom: 0.5em" onclick="changeGroup(this, GNO)">\n' +
        '                        <img class="ui rounded image" style="margin-left: 1em; width: 40px; height: 40px" onerror="this.src=\'https://hduchat.oss-cn-hangzhou.aliyuncs.com/images/avatar.png\';" src="AVATAR_URL" alt="头像">\n' +
        '                        <div class="content" >\n' +
        '                            <div class="header" style="color: white">NAME</div>\n' +
        '                        </div>\n' +
        '                    </div>';
    for (let i of saved_group) {
        const newTab = def_group_tab.replace('AVATAR_URL', i.profileUrl).replace('NAME', i.name).replace('GNO', i.gid);
        document.getElementById('user_list').innerHTML+=newTab;
        groupAllInfo[i.gid] = {
            messages: [],
            info: i
        }
        $.ajax({
            url: '/message/get-group?receiver='+i.gid,
            success: function (e) {
                groupAllInfo[i.gid].messages = e.data;
            }
        })
    }
    function send() {
        const textArea = $("#text");
        let data = textArea.val();
        textArea.val('');
        $.ajax({
            url:'/message/send',
            data: {receiver:nowGroup,content:data,senderId: userid},
            method: "POST"
        })
    }
    async function changeGroup(e, gid) {
        if (preGroup) preGroup.class = 'item';
        nowGroup = gid;
        preGroup = e;
        messageList.innerHTML = '';
        e.class = 'item current';
        for (let message of getGroupMessages(gid)) {
            await handleMessage(message, false)
        }
        groupName.innerText = getGroupName(gid);
    }
    function addMyMessage(msg) {
        const one = def_my_message.replace('CONTENT', msg.content || msg);
        addMessage(one);
    }
    async function handleMessage(msgBody, save=true) {
        if (save) {
            groupAllInfo[msgBody.toId].messages.push(msgBody);
        }
        if (msgBody.senderId === undefined || msgBody.senderId === userid || msgBody.senderId === String(userid)) {
            return addMyMessage(msgBody);
        } else {
            let { senderId } = msgBody;
            const one = def_your_message.replace('CONTENT', msgBody.content).replace('UID', senderId);
            addMessage(one)
        }
    }
    async function getUser(uid) {
        let userinfo;
        if ((userinfo=localStorage.getItem('userinfo_' + uid)) === null) {
            userinfo = await (getNewUser(uid));
        }
        return userinfo;
    }
    async function getNewUser(uid) {
        const res = await $.ajax('/user/info?uid='+uid);
        if (res.code === 0) {
            const userInfo= res.data;
            localStorage.setItem('userinfo_' + uid, JSON.stringify(userInfo));
            return userInfo;
        }
        return null;
    }
    function getGroupMessages(gid) {
        return groupAllInfo[gid].messages.concat();
    }
    function getGroupName(gid) {
        return groupAllInfo[gid].info.name;
    }
    function addMessage(msgHtml) {
        count++;
        messageList.innerHTML += msgHtml;
    }
    function configSocket() {
        const rec = document.getElementById('socketReconnect');

        if (rec !== null)
            document.getElementById('header').removeChild(rec);
        websocket = new WebSocket("ws://"+window.location.host+"/websocket/"+ticket);

        //连接发生错误的回调方法
        websocket.onerror = function(){
            alert('无法连接至服务器')
        };

        //连接成功建立的回调方法
        websocket.onopen = function(event){
            console.log('连接成功')
        };

        //接收到消息的回调方法
        websocket.onmessage = function(event){
            handleMessage(JSON.parse(event.data))
        };

        //连接关闭的回调方法
        websocket.onclose = function(){
            let t = 0;
            function retry() {
                if (t < 10)
                    try {
                        t++;
                        websocket = new WebSocket('ws://'+window.location.host + "/websocket/"+ticket);
                        console.log('重连成功')
                    } catch (e) {
                        console.log(e);
                        setTimeout(retry, 1000);
                        console.log('retry ' + t + ' times');
                    }
                else
                    showSocketError();
            }
            console.log('retrying...');
            retry();
        };

        let isclose = false;

        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function(){
            isclose = true;
            websocket.close();
        };
    }
    function showSocketError() {
        console.log('showSocketError');
        document.getElementById('header').innerHTML += connectError;
    }
    function show(u) {
        function setCardInfo(userinfo) {
            document.getElementById('card-name').innerText = userinfo.name || userinfo.account;
            document.getElementById('card-desc').innerText = userinfo.sign
        }
        let userinfo = JSON.parse(localStorage.getItem('userinfo_'+u));
        if (!userinfo) {
            $.ajax({
                url:'/user/info?uid='+u,
                success: function(e) {
                    userinfo = e.data;
                    setCardInfo(userinfo);
                    $('.ui.card').css("display", "block");
                    localStorage.setItem('userinfo_' + u, JSON.stringify(userinfo))
                }
            })
        } else {
            setCardInfo(userinfo);
            $('.ui.card').css("display", "block");
        }
    }
    function addGroupInfo(gid, name) {
        groupAllInfo[gid] = {
            info: {
                gid,
                name
            },
            messages: []
        }
    }
    configSocket();
    $('#closeBtn').on('click', function() {
            $(this)
                .closest('.ui.card')
                .css("display","none");
    });
    $("#text").keyup(function (event) {
        if (event.which === 13) {
            send()
        }
    });
    $("#submit").click(send);


    // 创建群聊
    function cancleGroup() {
        $('.special.modal').css("display","none");
    }

    function showGroup() {
        $('.special.modal').css("display","block");
    }

    async function createGroup() {
        var path = $("#groupAvatar").attr('src');
        var name = $("#nickname").val();
        var form = new FormData();
        form.append("name", name);
        var res = await $.ajax('/group/add', {
            'method': 'POST',
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        });
        res = JSON.parse(res)
        if (res.code===0) {
            const { gid } = res.data;
            var newTab = def_group_tab.replace('AVATAR_URL', path).replace('NAME', name).replace('GNO', gid);
            document.getElementById('user_list').innerHTML+=newTab;
            addGroupInfo(gid, name)
        } else {
            alert('添加失败')
        }
        cancleGroup()
    }
</script>
</body>

</html>